html, body {
    margin: 0;
    height: 100%;
}

body {
    background: no-repeat center center fixed;
    background-size: cover;
    font-family: "Noto Sans", serif;
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

.transparent {
    min-height: 100%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.margin-top-5 {
    margin-top: 5%;
}

.input-style {
    font-family: "Noto Sans", serif;
    font-size: 1.3rem;
    padding: 0.5rem;
    text-align: center;
    border: 0;
    border-radius: 4px;
}

.font-italic {
    font-style: italic;
}

.quotes-style {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

.todo-list-style {
    list-style: none;
    text-align: left;
    width: 70%;
    min-width: 400px;
    max-width: 600px;
    margin: 2% auto;
}

.todo-text {
    padding: 5px;
}

.button-transparent {
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    font-family: "Noto Sans", serif;
    margin-top: 2%;
}

.hidden {
    display: none;
}
